:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightgray;
}

.user-form {
  margin: 1em;
  display: grid;
  grid-template-columns: 13ch 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
  align-items: center;
}

.user-form:first-child {
  margin-top: 0;
}

label {
  grid-column: 1 / 2;
}

input,
select,
button {
  padding: 0.3em 0.5em;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  grid-column: 2 / 3;
}

select {
  transition: 1000ms background-color;
}

button {
  margin-left: auto;
  width: 30%;
  height: 100%;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: black;
}
